{% load static %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>


<button>Send an HTTP GET request to a page and get the result back</button>


  hello <div>{{user}}</div>
  <a href="{% url 'logout' %}">LOGOUT</a>
    GROUP CHAT with ID ||||||{{current_chat}}||||||
</head>
<body>
<br />
Area with messages pushed
<!--<div id="messages">-->
<!--    {% for message in data %}-->
<!--    <div>{{message.owner.username}}::: {{message.contents}} || {{message.owner}} || {{message.chat}}</div>-->
<!--    {% endfor %}-->
<!--</div>-->

<div id="chatbox">
        <!--filled by jQuery-->
</div>

<!--Form for adding new messages-->
<form action="/addmessage/" method="post">
    {% csrf_token %}
    <input for="admessage" type="text" name="message">
    <input type="submit" value="Send">
</form>

</body>